:root {
    --tam-casa: 100px;
    --tam-peca: calc(var(--cell-size) * .85);

    --cor-fundo: #111111;
    --cor-pecas: #EEEEEE;
    --casas-pretas: saddlebrown;
    --casas-brancas: sandybrown;
}

@media (max-width: 1400px) {
    :root {
        --tam-casa: 75px;
    }
}

@media (max-width: 700px) {
    :root {
        --tam-casa: 50px;
    }
}

body {
    background-color: var(--cor-fundo, black);
}

.tabuleiro {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(8, auto);
}

.casa {
    width: var(--tam-casa);
    height: var(--tam-casa);
    margin: 1px;

    background-color: var(--casas-pretas);
}

.casa-branca {
    background-color: var(--casas-brancas);
}

.casa-preta {
    background-color: var(--casas-pretas);
}